In [154]:
import pandas as pd
import numpy as np
import matplotlib as plt
import os

In [155]:
os.getcwd()

'/Users/rongshen/data-challenge-urw/Data-Challenge-URW-HEC/raw_data'

In [156]:
os.listdir()

['data catalogue HEC.xlsx',
 'visitor_traffic',
 'mall.csv',
 'referenciel_traffic.csv',
 'cost_manage',
 'data_model',
 'store.csv']

In [157]:
mall=pd.read_csv('mall.csv')
store=pd.read_csv('store.csv')
reference=pd.read_csv('referenciel_traffic.csv')
people_flow=pd.read_csv('visitor_traffic/people_flow.csv')
dwell_time=pd.read_csv('visitor_traffic/dwell_time.csv')
cost=pd.read_csv('cost_manage/cost.csv')

In [158]:
# drop duplicate rows
store.drop_duplicates(inplace=True)
mall.drop_duplicates(inplace=True)
people_flow.drop_duplicates(inplace=True)
dwell_time.drop_duplicates(inplace=True)
reference.drop_duplicates(inplace=True)
cost.drop_duplicates(inplace=True)

In [159]:
# check null rows
print(mall.isnull().sum())
print("\n")
print(store.isnull().sum())
print("\n")
print(reference.isnull().sum())

mall_name          0
mall_country       0
mall_id            0
total_mall_area    0
dtype: int64


store_name                  0
store_id                    0
mall_id                     0
store_year_opened           0
store_year_closed       10918
store_branch_level_1        0
store_branch_level_2        0
store_branch_level_3        0
store_sales_r12m            0
store_rent_r12m             0
store_area                  0
dtype: int64


store_id              209
block_id            11530
external_mall_id    11530
dtype: int64

In [160]:
print(people_flow.isnull().sum())
print("\n")
print(dwell_time.isnull().sum())
print("\n")
print(cost.isnull().sum())

block_id                             0
external_mall_id                     0
store_visits_monthly_average         0
store_window_flow_monthly_average    0
store_visits_daily_average           0
store_window_flow_daily_average      0
store_total_visits                   0
store_total_window_flow              0
days_with_traffic_data               0
dtype: int64


external_mall_id      0
block_id              0
average_dwell_time    0
median_dwell_time     0
dtype: int64


store_id                    544
rent_incentive_r12m           0
service_charges_r12m          0
marketing_costs_r12m          0
administration_fees_r12m      0
real_estate_taxes_r12m        0
large_scale_works_r12m        0
maintenance_works_r12m        0
dtype: int64

In [161]:
store.head()

,store_name,store_id,mall_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,store_area
0,store_0,0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,Mobile Phones & Communication & Internet,2482679.0,305241.0,180.0
1,store_1,1,0,28/10/2010,NaN,Services,Clothing-related services,Clothes repairs,1693316.0,663785.0,379.0
2,store_2,2,0,28/10/2010,NaN,Culture & Media & Technology,Electronics and household appliances,Monobrand electronics,2954560.0,326322.0,162.0
3,store_3,3,0,28/10/2010,NaN,Bags & Footwear & Accessories,Accessories,"Mixed: small accessories, bags and fancy jewel...",9706951.0,1189964.0,268.0
4,store_4,4,0,28/10/2010,NaN,Services,Photo services,Photo Development,4217850.0,145534.0,33.0

In [162]:
# fill in nan with 0
store['store_year_closed'] = store['store_year_closed'].fillna('open')
store.head()

,store_name,store_id,mall_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,store_area
0,store_0,0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,Mobile Phones & Communication & Internet,2482679.0,305241.0,180.0
1,store_1,1,0,28/10/2010,open,Services,Clothing-related services,Clothes repairs,1693316.0,663785.0,379.0
2,store_2,2,0,28/10/2010,open,Culture & Media & Technology,Electronics and household appliances,Monobrand electronics,2954560.0,326322.0,162.0
3,store_3,3,0,28/10/2010,open,Bags & Footwear & Accessories,Accessories,"Mixed: small accessories, bags and fancy jewel...",9706951.0,1189964.0,268.0
4,store_4,4,0,28/10/2010,open,Services,Photo services,Photo Development,4217850.0,145534.0,33.0

# Data summary

In [163]:
store.info()
store.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15551 entries, 0 to 15550
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store_name            15551 non-null  object
 1   store_id              15551 non-null  int64
 2   mall_id               15551 non-null  int64
 3   store_year_opened     15551 non-null  object
 4   store_year_closed     15551 non-null  object
 5   store_branch_level_1  15551 non-null  object
 6   store_branch_level_2  15551 non-null  object
 7   store_branch_level_3  15551 non-null  object
 8   store_sales_r12m      15551 non-null  float64
 9   store_rent_r12m       15551 non-null  float64
 10  store_area            15551 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.3+ MB

,store_id,mall_id,store_sales_r12m,store_rent_r12m,store_area
count,15551.000000,15551.000000,1.555100e+04,1.555100e+04,15551.000000
mean,7775.000000,41.605299,5.127043e+06,6.985887e+05,253.988554
std,4489.331353,26.667235,2.873217e+06,3.805422e+05,147.454482
min,0.000000,0.000000,1.988980e+05,4.161900e+04,0.000000
25%,3887.500000,16.000000,2.666029e+06,3.691690e+05,126.000000
50%,7775.000000,43.000000,5.113358e+06,6.973190e+05,253.000000
75%,11662.500000,67.000000,7.598824e+06,1.029146e+06,381.000000
max,15550.000000,85.000000,1.011080e+07,1.353180e+06,510.000000

In [164]:
store['is_open'] = store['store_year_closed'] == "open"
store.head()

,store_name,store_id,mall_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,store_area,is_open
0,store_0,0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,Mobile Phones & Communication & Internet,2482679.0,305241.0,180.0,False
1,store_1,1,0,28/10/2010,open,Services,Clothing-related services,Clothes repairs,1693316.0,663785.0,379.0,True
2,store_2,2,0,28/10/2010,open,Culture & Media & Technology,Electronics and household appliances,Monobrand electronics,2954560.0,326322.0,162.0,True
3,store_3,3,0,28/10/2010,open,Bags & Footwear & Accessories,Accessories,"Mixed: small accessories, bags and fancy jewel...",9706951.0,1189964.0,268.0,True
4,store_4,4,0,28/10/2010,open,Services,Photo services,Photo Development,4217850.0,145534.0,33.0,True

In [165]:
mall.info()
mall.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mall_name        87 non-null     object
 1   mall_country     87 non-null     object
 2   mall_id          87 non-null     int64
 3   total_mall_area  87 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.8+ KB

         mall_id  total_mall_area
count  87.000000        87.000000
mean   43.000000     58791.643678
std    25.258662     24998.216031
min     0.000000     19564.000000
25%    21.500000     35695.000000
50%    43.000000     59990.000000
75%    64.500000     79247.000000
max    86.000000    105501.000000

In [166]:
mall.head()

  mall_name           mall_country  mall_id  total_mall_area
0    mall_0  Germany Third Parties        0          80523.0
1    mall_1                Germany        1          19564.0
2    mall_2         United Kingdom        2          44821.0
3    mall_3  Germany Third Parties        3          59990.0
4    mall_4                  Spain        4          38176.0

In [167]:
people_flow.info()
people_flow.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3927 entries, 0 to 3926
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   block_id                           3927 non-null   int64
 1   external_mall_id                   3927 non-null   int64
 2   store_visits_monthly_average       3927 non-null   float64
 3   store_window_flow_monthly_average  3927 non-null   float64
 4   store_visits_daily_average         3927 non-null   float64
 5   store_window_flow_daily_average    3927 non-null   float64
 6   store_total_visits                 3927 non-null   int64
 7   store_total_window_flow            3927 non-null   int64
 8   days_with_traffic_data             3927 non-null   int64
dtypes: float64(4), int64(5)
memory usage: 276.2 KB

,block_id,external_mall_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,store_total_window_flow,days_with_traffic_data
count,3927.000000,3927.000000,3927.000000,3.927000e+03,3927.000000,3927.000000,3.927000e+03,3.927000e+03,3927.000000
mean,5586.652152,20.811306,21224.335898,6.277241e+05,801.277153,23772.831592,2.139092e+05,6.223736e+06,267.556914
std,2972.558099,8.100445,37130.143979,4.245915e+05,1380.837642,15525.815888,4.175346e+05,5.203917e+06,112.343239
min,1.000000,7.000000,0.000000,1.612000e+03,0.000000,321.890000,0.000000e+00,1.612000e+03,1.000000
25%,4284.500000,14.000000,4499.825000,3.511513e+05,173.750000,13537.885000,3.764650e+04,2.698003e+06,221.000000
50%,5972.000000,19.000000,9744.150000,5.369594e+05,372.210000,20909.260000,8.742800e+04,5.109732e+06,291.000000
75%,7118.000000,28.000000,22190.385000,7.920384e+05,838.885000,29836.615000,2.197810e+05,8.017582e+06,366.000000
max,13815.000000,36.000000,547642.880000,6.427601e+06,20500.870000,228302.780000,7.066740e+06,8.355882e+07,366.000000

In [168]:
people_flow.head()

,block_id,external_mall_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,store_total_window_flow,days_with_traffic_data
0,2821,12,13296.69,561316.62,473.58,19992.10,172857,7297116,365
1,7750,13,12707.89,600629.56,457.48,21622.66,114371,5405666,250
2,4482,10,4316.31,210206.85,153.31,7466.36,56112,2732689,366
3,2331,24,4060.69,173517.31,144.23,6163.18,52789,2255725,366
4,45,7,44255.50,525790.38,1580.55,18778.23,354044,4206323,224

In [169]:
dwell_time.info()
dwell_time.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   external_mall_id    3566 non-null   int64
 1   block_id            3566 non-null   int64
 2   average_dwell_time  3566 non-null   float64
 3   median_dwell_time   3566 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 111.6 KB

       external_mall_id      block_id  average_dwell_time  median_dwell_time
count       3566.000000   3566.000000         3566.000000        3566.000000
mean          20.780426   5635.659282          886.244875         571.379697
std            8.071091   2978.682471          853.870250         775.935650
min            7.000000      2.000000          113.065865          60.000000
25%           14.000000   4318.250000          373.995504         180.000000
50%           19.000000   5992.500000          535.567645         240.000000
75%           28.000000   7138.750000         1029.893966         480.000000
max           36.000000  14833.000000         7530.000000        6900.000000

In [170]:
cost.info()
cost.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14655 entries, 0 to 14654
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_id                  14111 non-null  float64
 1   rent_incentive_r12m       14655 non-null  float64
 2   service_charges_r12m      14655 non-null  float64
 3   marketing_costs_r12m      14655 non-null  float64
 4   administration_fees_r12m  14655 non-null  float64
 5   real_estate_taxes_r12m    14655 non-null  float64
 6   large_scale_works_r12m    14655 non-null  float64
 7   maintenance_works_r12m    14655 non-null  float64
dtypes: float64(8)
memory usage: 916.1 KB

,store_id,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
count,14111.000000,14655.000000,14655.000000,14655.000000,14655.000000,14655.000000,14655.000000,14655.000000
mean,7752.111544,-63320.450563,50634.304197,7072.216172,8454.702422,43614.829683,8520.692801,61683.307813
std,4689.895842,35426.836062,28885.191167,4095.995345,4132.755376,24552.730237,4743.375849,35512.312596
min,0.000000,-124076.000000,559.000000,0.000000,1281.000000,1310.000000,327.000000,399.000000
25%,3562.500000,-94144.500000,25534.000000,3512.500000,4938.000000,22131.000000,4388.500000,30813.500000
50%,7192.000000,-63311.000000,50213.000000,7068.000000,8392.000000,43806.000000,8510.000000,61786.000000
75%,12006.500000,-32756.000000,75721.500000,10665.000000,12039.500000,64796.500000,12692.500000,92133.500000
max,15550.000000,-1761.000000,101161.000000,14143.000000,15614.000000,85856.000000,16634.000000,123259.000000

In [171]:
reference.describe()

           store_id      block_id  external_mall_id
count  15557.000000   4236.000000       4236.000000
mean    7777.398599   5479.885977         20.651794
std     4499.095577   3023.637617          8.155505
min        0.000000      1.000000          7.000000
25%     3870.000000   2964.750000         14.000000
50%     7744.000000   5837.000000         19.000000
75%    11670.000000   7072.000000         28.000000
max    15550.000000  14835.000000         36.000000

In [172]:
# reference.fillna(-999, inplace=True)
reference.head()

   store_id  block_id  external_mall_id
0   11649.0       NaN               NaN
1   14777.0       NaN               NaN
2   15011.0       NaN               NaN
3       NaN       NaN               NaN
4   14729.0       NaN               NaN

In [185]:
reference.dropna(how='all', inplace=True)
reference

       store_id  block_id  external_mall_id
0       11649.0       NaN               NaN
1       14777.0       NaN               NaN
2       15011.0       NaN               NaN
4       14729.0       NaN               NaN
6       14537.0       NaN               NaN
...         ...       ...               ...
32993    7885.0       NaN               NaN
32994    7721.0       NaN               NaN
32995    7804.0       NaN               NaN
32996    8573.0       NaN               NaN
32999    8072.0       NaN               NaN

[15765 rows x 3 columns]

In [186]:
reference.dropna(subset='store_id', inplace=True)
reference

       store_id  block_id  external_mall_id
0       11649.0       NaN               NaN
1       14777.0       NaN               NaN
2       15011.0       NaN               NaN
4       14729.0       NaN               NaN
6       14537.0       NaN               NaN
...         ...       ...               ...
32993    7885.0       NaN               NaN
32994    7721.0       NaN               NaN
32995    7804.0       NaN               NaN
32996    8573.0       NaN               NaN
32999    8072.0       NaN               NaN

[15557 rows x 3 columns]

# Merge data

## Store-level data

In [173]:
# 1. store cost
store_cost=store.merge(cost,on="store_id", how="left")
store_cost = store_cost.sort_values(by="store_id")
store_cost

,store_name,store_id,mall_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,store_area,is_open,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
0,store_0,0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,Mobile Phones & Communication & Internet,2482679.0,305241.0,180.0,False,-44479.0,46663.0,8273.0,5672.0,67519.0,13777.0,5591.0
1,store_1,1,0,28/10/2010,open,Services,Clothing-related services,Clothes repairs,1693316.0,663785.0,379.0,True,-77185.0,48683.0,3413.0,9256.0,18642.0,2582.0,117195.0
2,store_2,2,0,28/10/2010,open,Culture & Media & Technology,Electronics and household appliances,Monobrand electronics,2954560.0,326322.0,162.0,True,-54501.0,50096.0,4699.0,9427.0,75421.0,11597.0,15708.0
3,store_3,3,0,28/10/2010,open,Bags & Footwear & Accessories,Accessories,"Mixed: small accessories, bags and fancy jewel...",9706951.0,1189964.0,268.0,True,-100336.0,8615.0,13197.0,14518.0,47400.0,16564.0,57068.0
4,store_4,4,0,28/10/2010,open,Services,Photo services,Photo Development,4217850.0,145534.0,33.0,True,-118065.0,4040.0,7638.0,15296.0,74577.0,7302.0,37220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15546,store_5866,15546,85,15/09/2023,open,Food & Beverage Services,"Bars, Coffee and Tea breaks",Seated Cafes & Kiosks,7520514.0,103375.0,272.0,True,-91181.0,100616.0,8213.0,8751.0,65103.0,12052.0,70015.0
15547,store_5867,15547,85,12/05/2024,open,Food & Beverage Services,Sweet moments,Icecreams & Frozen yogurts,6002481.0,821210.0,346.0,True,-48390.0,31814.0,6453.0,13300.0,35562.0,747.0,74296.0
15548,store_5868,15548,85,03/06/2024,open,Health & Beauty,"Perfumery, beautycare",Monobrand mainstream,2954722.0,262254.0,114.0,True,-96079.0,51773.0,5750.0,11383.0,11021.0,15128.0,47579.0
15549,store_5869,15549,85,01/03/2024,open,Health & Beauty,"Perfumery, beautycare",Multibrand mainstream,2206631.0,1046825.0,506.0,True,-39569.0,32716.0,7496.0,7854.0,10688.0,759.0,114802.0
15550,store_1506,15550,85,30/08/2024,open,Food & Beverage Services,Gourmet Food Products,Chocolate,4227319.0,317331.0,481.0,True,-108393.0,21331.0,12683.0,14963.0,82052.0,3802.0,97479.0

In [182]:
store_cost.describe()

,store_id,mall_id,store_sales_r12m,store_rent_r12m,store_area,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
count,15551.000000,15551.000000,1.555100e+04,1.555100e+04,15551.000000,14111.000000,14111.000000,14111.000000,14111.000000,14111.000000,14111.000000,14111.000000
mean,7775.000000,41.605299,5.127043e+06,6.985887e+05,253.988554,-63411.081851,50641.823046,7065.350365,8456.519807,43599.245270,8538.674864,61796.481964
std,4489.331353,26.667235,2.873217e+06,3.805422e+05,147.454482,35425.533961,28891.739906,4094.622685,4134.709777,24585.550287,4744.373858,35501.394808
min,0.000000,0.000000,1.988980e+05,4.161900e+04,0.000000,-124076.000000,559.000000,0.000000,1281.000000,1310.000000,327.000000,399.000000
25%,3887.500000,16.000000,2.666029e+06,3.691690e+05,126.000000,-94219.000000,25535.000000,3507.500000,4945.000000,22005.500000,4399.500000,30977.500000
50%,7775.000000,43.000000,5.113358e+06,6.973190e+05,253.000000,-63405.000000,50189.000000,7062.000000,8388.000000,43842.000000,8548.000000,61895.000000
75%,11662.500000,67.000000,7.598824e+06,1.029146e+06,381.000000,-32857.500000,75801.000000,10646.000000,12053.000000,64834.000000,12712.000000,92254.000000
max,15550.000000,85.000000,1.011080e+07,1.353180e+06,510.000000,-1761.000000,101161.000000,14143.000000,15614.000000,85856.000000,16634.000000,123259.000000

In [187]:
# 2. store visitor flow
store_flow=store.merge(reference,on="store_id",how="left")\
            .merge(people_flow,on=["block_id","external_mall_id"],how="left")
store_flow

,store_name,store_id,mall_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,...,is_open,block_id,external_mall_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,store_total_window_flow,days_with_traffic_data
0,store_0,0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,Mobile Phones & Communication & Internet,2482679.0,305241.0,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,store_1,1,0,28/10/2010,open,Services,Clothing-related services,Clothes repairs,1693316.0,663785.0,...,True,7643.0,13.0,3048.89,284206.00,111.09,10355.68,27440.0,2557854.0,247.0
2,store_2,2,0,28/10/2010,open,Culture & Media & Technology,Electronics and household appliances,Monobrand electronics,2954560.0,326322.0,...,True,7569.0,13.0,5621.56,332009.67,204.01,12048.74,50594.0,2988087.0,248.0
3,store_3,3,0,28/10/2010,open,Bags & Footwear & Accessories,Accessories,"Mixed: small accessories, bags and fancy jewel...",9706951.0,1189964.0,...,True,7646.0,13.0,12013.67,330280.78,432.49,11890.11,108123.0,2972527.0,250.0
4,store_4,4,0,28/10/2010,open,Services,Photo services,Photo Development,4217850.0,145534.0,...,True,7672.0,13.0,4175.00,284250.33,152.74,10399.40,37575.0,2558253.0,246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15796,store_5866,15546,85,15/09/2023,open,Food & Beverage Services,"Bars, Coffee and Tea breaks",Seated Cafes & Kiosks,7520514.0,103375.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15797,store_5867,15547,85,12/05/2024,open,Food & Beverage Services,Sweet moments,Icecreams & Frozen yogurts,6002481.0,821210.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15798,store_5868,15548,85,03/06/2024,open,Health & Beauty,"Perfumery, beautycare",Monobrand mainstream,2954722.0,262254.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15799,store_5869,15549,85,01/03/2024,open,Health & Beauty,"Perfumery, beautycare",Multibrand mainstream,2206631.0,1046825.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15800,store_1506,15550,85,30/08/2024,open,Food & Beverage Services,Gourmet Food Products,Chocolate,4227319.0,317331.0,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
# Check for duplicates in reference
duplicates_reference = reference[reference.duplicated(subset=["store_id"], keep=False)]
print("Duplicate rows in reference (store_id):", len(duplicates_reference))

# Check for duplicates in people_flow
duplicates_people_flow = people_flow[people_flow.duplicated(subset=["block_id", "external_mall_id"], keep=False)]
print("Duplicate rows in people_flow (block_id, external_mall_id):", len(duplicates_people_flow))

Duplicate rows in reference (store_id): 198
Duplicate rows in people_flow (block_id, external_mall_id): 173

In [191]:
# Check for rows where store_id duplicates after the merge
duplicates_store_flow = store_flow[store_flow.duplicated(subset=["store_id"], keep=False)]
print("Duplicate rows in store_flow (store_id):", len(duplicates_store_flow))

duplicates_store_flow

Duplicate rows in store_flow (store_id): 477

,store_name,store_id,mall_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,...,is_open,block_id,external_mall_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,store_total_window_flow,days_with_traffic_data
33,store_33,33,0,01/11/1986,open,Services,Multiservices shops,Multiservices shops,1432164.0,189812.0,...,True,7600.0,13.0,3303.67,294721.89,118.93,10609.99,29733.0,2652497.0,250.0
34,store_33,33,0,01/11/1986,open,Services,Multiservices shops,Multiservices shops,1432164.0,189812.0,...,True,7664.0,13.0,3072.44,769733.44,110.61,27710.40,27652.0,6927601.0,250.0
83,store_79,82,0,02/07/2012,open,Food Stores & Mass Merchandise,Supermarkets,Supermarkets,5791935.0,1231225.0,...,True,7673.0,13.0,137266.33,389525.67,5021.94,14250.94,1235397.0,3505731.0,246.0
84,store_79,82,0,02/07/2012,open,Food Stores & Mass Merchandise,Supermarkets,Supermarkets,5791935.0,1231225.0,...,True,7674.0,13.0,29569.67,246931.33,1073.09,8961.22,266127.0,2222382.0,248.0
154,store_145,152,0,19/10/2016,14/04/2024,Health & Beauty,"Perfumery, beautycare",Monobrand mainstream,7025529.0,339535.0,...,False,7691.0,13.0,2796.80,1256724.80,102.07,45865.87,13984.0,6283624.0,137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12498,store_505,12251,68,13/09/2011,01/09/2024,Bags & Footwear & Accessories,Footwear,Family footwear,8907193.0,1139970.0,...,False,11594.0,32.0,3379.50,1315454.00,177.87,69234.42,6759.0,2630908.0,38.0
12499,store_505,12251,68,13/09/2011,01/09/2024,Bags & Footwear & Accessories,Footwear,Family footwear,8907193.0,1139970.0,...,False,11594.0,32.0,10766.00,624461.50,828.15,48035.50,21532.0,1248923.0,26.0
12662,store_342,12414,68,27/03/2024,open,Fashion apparel,Family Fashion,Family Fashion,916739.0,706044.0,...,True,11602.0,32.0,151410.40,1787139.00,5735.24,67694.66,757052.0,8935695.0,132.0
12663,store_342,12414,68,27/03/2024,open,Fashion apparel,Family Fashion,Family Fashion,916739.0,706044.0,...,True,11517.0,32.0,167054.20,908850.80,6327.81,34426.17,835271.0,4544254.0,132.0
12664,store_342,12414,68,27/03/2024,open,Fashion apparel,Family Fashion,Family Fashion,916739.0,706044.0,...,True,11374.0,32.0,227999.00,1798689.60,8636.33,68132.18,1139995.0,8993448.0,132.0

In [193]:
# Check for rows where store_id duplicates after the merge
duplicates_ref = reference[reference.duplicated(subset=["store_id"], keep=False)]
print("Duplicate rows in ref (store_id):", len(duplicates_ref))

# Inspect a few examples of duplicates
duplicates_ref

Duplicate rows in ref (store_id): 198

       store_id  block_id  external_mall_id
23       1914.0    6990.0              33.0
24       1914.0    6745.0              33.0
125       340.0    7600.0              13.0
126       340.0    7664.0              13.0
203      1355.0    4742.0              10.0
...         ...       ...               ...
32718    5719.0       NaN               NaN
32811    1351.0    3538.0              10.0
32812    1351.0    4565.0              10.0
32911    5866.0      60.0               7.0
32912    5866.0    4896.0               7.0

[198 rows x 3 columns]

In [133]:
print("Unique block_id + external_mall_id combinations in store_flow:", store_flow[["block_id", "external_mall_id"]].drop_duplicates().shape[0])
print("Unique block_id + external_mall_id combinations in reference:", reference[["block_id", "external_mall_id"]].drop_duplicates().shape[0])
print("Unique block_id + external_mall_id combinations in people_flow:", people_flow[["block_id", "external_mall_id"]].drop_duplicates().shape[0])

Unique block_id + external_mall_id combinations in store_flow: 3881
Unique block_id + external_mall_id combinations in reference: 4045
Unique block_id + external_mall_id combinations in people_flow: 3840

## Mall-level data

In [207]:
store_mall=store.merge(mall,on="mall_id",how="left")
store_mall_group=store_mall.groupby(["mall_country","mall_name","store_branch_level_1"]).agg({"store_sales_r12m": "mean",
    "store_rent_r12m": "mean","store_id":"count"}).reset_index()

store_mall_group["sale_rent"]=store_mall_group["store_sales_r12m"]/store_mall_group["store_rent_r12m"]
store_mall_group = store_mall_group.sort_values(by=["mall_country","sale_rent"])

store_mall_group

,mall_country,mall_name,store_branch_level_1,store_sales_r12m,store_rent_r12m,store_id,sale_rent
12,Austria,mall_32,Services,2.967638e+06,729023.500000,2,4.070703
10,Austria,mall_32,Jewellery,2.937940e+06,616805.428571,7,4.763155
22,Austria,mall_83,Health & Beauty,4.409940e+06,820844.727273,22,5.372441
6,Austria,mall_32,Food Stores & Mass Merchandise,3.322280e+06,609294.500000,2,5.452668
13,Austria,mall_32,Sport,4.140968e+06,650415.666667,6,6.366648
...,...,...,...,...,...,...,...
1109,United Kingdom,mall_19,Entertainment,5.240748e+06,445054.500000,2,11.775519
1139,United Kingdom,mall_8,Food Stores & Mass Merchandise,7.725834e+06,587334.000000,1,13.154072
1112,United Kingdom,mall_19,Food Stores & Mass Merchandise,5.845812e+06,307077.000000,1,19.036958
1125,United Kingdom,mall_2,Food Stores & Mass Merchandise,1.004244e+07,352428.000000,1,28.495000
1146,United Kingdom,mall_8,Sport,6.993910e+06,110928.666667,3,63.048713

In [213]:
filtered_store_mall_group = store_mall_group[store_mall_group["mall_country"]=="Austria"]
filtered_store_mall_group

,mall_country,mall_name,store_branch_level_1,store_sales_r12m,store_rent_r12m,store_id,sale_rent
12,Austria,mall_32,Services,2.967638e+06,729023.500000,2,4.070703
10,Austria,mall_32,Jewellery,2.937940e+06,616805.428571,7,4.763155
22,Austria,mall_83,Health & Beauty,4.409940e+06,820844.727273,22,5.372441
6,Austria,mall_32,Food Stores & Mass Merchandise,3.322280e+06,609294.500000,2,5.452668
13,Austria,mall_32,Sport,4.140968e+06,650415.666667,6,6.366648
0,Austria,mall_32,Bags & Footwear & Accessories,4.151048e+06,601394.454545,11,6.902372
5,Austria,mall_32,Food & Beverage Services,4.684247e+06,670951.895833,48,6.981494
18,Austria,mall_83,Fashion apparel,4.428825e+06,634020.100000,30,6.985306
17,Austria,mall_83,Entertainment,5.481955e+06,779000.333333,3,7.037166
19,Austria,mall_83,Food & Beverage Services,5.078940e+06,721616.790698,43,7.038279
4,Austria,mall_32,Fashion apparel,5.113190e+06,708501.824561,57,7.216905
24,Austria,mall_83,Jewellery,6.017795e+06,807915.250000,16,7.448548
8,Austria,mall_32,Health & Beauty,6.020923e+06,791877.157895,19,7.603355
15,Austria,mall_83,Culture & Media & Technology,5.429320e+06,713791.375000,16,7.606312
26,Austria,mall_83,Services,5.221735e+06,673782.000000,7,7.749888
3,Austria,mall_32,Entertainment,4.833322e+06,613055.000000,3,7.883995
14,Austria,mall_83,Bags & Footwear & Accessories,5.972059e+06,745478.882353,17,8.011037
9,Austria,mall_32,Home,4.865482e+06,606054.333333,9,8.028128
21,Austria,mall_83,Gifts,7.085851e+06,835590.571429,7,8.480051
23,Austria,mall_83,Home,6.461892e+06,760336.750000,4,8.498723
25,Austria,mall_83,Other,6.623335e+06,662728.333333,3,9.994043
1,Austria,mall_32,Culture & Media & Technology,6.303320e+06,618652.166667,12,10.188794
20,Austria,mall_83,Food Stores & Mass Merchandise,3.695007e+06,330648.000000,4,11.175046
27,Austria,mall_83,Sport,2.941012e+06,256474.000000,1,11.467096
16,Austria,mall_83,Department Stores,7.410646e+06,643168.500000,2,11.522092
7,Austria,mall_32,Gifts,6.064711e+06,366417.750000,4,16.551358
2,Austria,mall_32,Department Stores,7.295284e+06,228343.000000,1,31.948796
11,Austria,mall_32,Other,9.851858e+06,188586.000000,1,52.240665

In [208]:
store_mall_group.describe()

       store_sales_r12m  store_rent_r12m     store_id    sale_rent
count      1.147000e+03     1.147000e+03  1147.000000  1147.000000
mean       5.089667e+06     6.994934e+05    13.557977     8.967133
std        1.618282e+06     2.124897e+05    17.979116    10.260374
min        2.260580e+05     4.375600e+04     1.000000     0.171482
25%        4.393426e+06     6.069815e+05     2.000000     5.971519
50%        5.113190e+06     6.987378e+05     7.000000     7.251490
75%        5.848868e+06     7.958142e+05    16.500000     8.887427
max        1.008535e+07     1.350020e+06   129.000000   172.463009

# EDA

stores' sale and rent group by granularity

In [199]:
store_group = store.groupby("store_branch_level_1").agg({    "store_sales_r12m": "mean",
    "store_rent_r12m": "mean","store_id":"count"}).reset_index()
store_group["sale_rent"]=store_group["store_sales_r12m"]/store_group["store_rent_r12m"]
store_group = store_group.sort_values(by="sale_rent")

store_group

,store_branch_level_1,store_sales_r12m,store_rent_r12m,store_id,sale_rent
14,Non-retail,4.781707e+06,755436.333333,9,6.329729
0,Auto,4.720179e+06,702500.720930,43,6.719110
2,Culture & Media & Technology,5.044135e+06,706517.601087,920,7.139433
16,Services,5.236274e+06,733284.758836,481,7.140847
6,Fitness,5.136288e+06,716541.416667,60,7.168166
15,Other,4.893489e+06,678048.152000,125,7.217023
10,Health & Beauty,5.064554e+06,699982.429423,2012,7.235259
11,Home,5.274322e+06,722433.988372,602,7.300766
1,Bags & Footwear & Accessories,5.142998e+06,703061.857143,1365,7.315143
7,Food & Beverage Services,5.072655e+06,693409.927957,3373,7.315522
8,Food Stores & Mass Merchandise,5.081091e+06,690749.947712,153,7.355906
5,Fashion apparel,5.152101e+06,699295.435254,4062,7.367560
3,Department Stores,5.507838e+06,746766.596774,62,7.375582
12,Jewellery,5.230032e+06,696267.211196,786,7.511529
4,Entertainment,5.131594e+06,682596.195745,235,7.517759
17,Sport,5.123593e+06,670763.923077,598,7.638444
9,Gifts,5.246117e+06,684963.897004,534,7.658969
13,Luxury,5.201896e+06,667060.251908,131,7.798240