### Exploratory Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
cost_data = pd.read_csv('cost.csv')
cost_data = cost_data.drop_duplicates()

duplicates = cost_data.duplicated()
print("Number of duplicate rows:", duplicates.sum())

Number of duplicate rows: 0

In [26]:
dwell_time_data = pd.read_csv('dwell_time.csv')
# dwell_time_data = dwell_time_data.drop_duplicates()

mall_data = pd.read_csv('mall.csv')
# mall_data = mall_data.drop_duplicates()

people_flow_data = pd.read_csv('people_flow.csv')
# people_flow__data = people_flow_data.drop_duplicates()

referenciel_traffic_data = pd.read_csv('referenciel_traffic.csv')
# referenciel_traffic_data = referenciel_traffic_data.drop_duplicates()

store_data = pd.read_csv('store.csv')
# store_data = store_data.drop_duplicates()

In [27]:
# Let's start by merging mall and store data using the mall_id as the key
mall_store_data = pd.merge(mall_data, store_data, on='mall_id', how='inner')
mall_store_data

,mall_name,mall_country,mall_id,total_mall_area,store_name,store_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,store_branch_level_3,store_sales_r12m,store_rent_r12m,store_area
0,mall_0,Germany Third Parties,0,80523.0,store_0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,Mobile Phones & Communication & Internet,2482679.0,305241.0,180.0
1,mall_0,Germany Third Parties,0,80523.0,store_1,1,28/10/2010,NaN,Services,Clothing-related services,Clothes repairs,1693316.0,663785.0,379.0
2,mall_0,Germany Third Parties,0,80523.0,store_2,2,28/10/2010,NaN,Culture & Media & Technology,Electronics and household appliances,Monobrand electronics,2954560.0,326322.0,162.0
3,mall_0,Germany Third Parties,0,80523.0,store_3,3,28/10/2010,NaN,Bags & Footwear & Accessories,Accessories,"Mixed: small accessories, bags and fancy jewel...",9706951.0,1189964.0,268.0
4,mall_0,Germany Third Parties,0,80523.0,store_4,4,28/10/2010,NaN,Services,Photo services,Photo Development,4217850.0,145534.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15546,mall_85,Poland,85,76907.0,store_5866,15546,15/09/2023,NaN,Food & Beverage Services,"Bars, Coffee and Tea breaks",Seated Cafes & Kiosks,7520514.0,103375.0,272.0
15547,mall_85,Poland,85,76907.0,store_5867,15547,12/05/2024,NaN,Food & Beverage Services,Sweet moments,Icecreams & Frozen yogurts,6002481.0,821210.0,346.0
15548,mall_85,Poland,85,76907.0,store_5868,15548,03/06/2024,NaN,Health & Beauty,"Perfumery, beautycare",Monobrand mainstream,2954722.0,262254.0,114.0
15549,mall_85,Poland,85,76907.0,store_5869,15549,01/03/2024,NaN,Health & Beauty,"Perfumery, beautycare",Multibrand mainstream,2206631.0,1046825.0,506.0
15550,mall_85,Poland,85,76907.0,store_1506,15550,30/08/2024,NaN,Food & Beverage Services,Gourmet Food Products,Chocolate,4227319.0,317331.0,481.0

In [28]:
# Let's add the cost data of all stores to the mall_store_data
mall_store_cost_data = pd.merge(mall_store_data, cost_data, on='store_id', how='inner')
mall_store_cost_data

,mall_name,mall_country,mall_id,total_mall_area,store_name,store_id,store_year_opened,store_year_closed,store_branch_level_1,store_branch_level_2,...,store_sales_r12m,store_rent_r12m,store_area,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
0,mall_0,Germany Third Parties,0,80523.0,store_0,0,01/01/1999,31/08/2023,Culture & Media & Technology,Mobile Phones & Communication,...,2482679.0,305241.0,180.0,-44479.0,46663.0,8273.0,5672.0,67519.0,13777.0,5591.0
1,mall_0,Germany Third Parties,0,80523.0,store_1,1,28/10/2010,NaN,Services,Clothing-related services,...,1693316.0,663785.0,379.0,-77185.0,48683.0,3413.0,9256.0,18642.0,2582.0,117195.0
2,mall_0,Germany Third Parties,0,80523.0,store_2,2,28/10/2010,NaN,Culture & Media & Technology,Electronics and household appliances,...,2954560.0,326322.0,162.0,-54501.0,50096.0,4699.0,9427.0,75421.0,11597.0,15708.0
3,mall_0,Germany Third Parties,0,80523.0,store_3,3,28/10/2010,NaN,Bags & Footwear & Accessories,Accessories,...,9706951.0,1189964.0,268.0,-100336.0,8615.0,13197.0,14518.0,47400.0,16564.0,57068.0
4,mall_0,Germany Third Parties,0,80523.0,store_4,4,28/10/2010,NaN,Services,Photo services,...,4217850.0,145534.0,33.0,-118065.0,4040.0,7638.0,15296.0,74577.0,7302.0,37220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14106,mall_85,Poland,85,76907.0,store_5866,15546,15/09/2023,NaN,Food & Beverage Services,"Bars, Coffee and Tea breaks",...,7520514.0,103375.0,272.0,-91181.0,100616.0,8213.0,8751.0,65103.0,12052.0,70015.0
14107,mall_85,Poland,85,76907.0,store_5867,15547,12/05/2024,NaN,Food & Beverage Services,Sweet moments,...,6002481.0,821210.0,346.0,-48390.0,31814.0,6453.0,13300.0,35562.0,747.0,74296.0
14108,mall_85,Poland,85,76907.0,store_5868,15548,03/06/2024,NaN,Health & Beauty,"Perfumery, beautycare",...,2954722.0,262254.0,114.0,-96079.0,51773.0,5750.0,11383.0,11021.0,15128.0,47579.0
14109,mall_85,Poland,85,76907.0,store_5869,15549,01/03/2024,NaN,Health & Beauty,"Perfumery, beautycare",...,2206631.0,1046825.0,506.0,-39569.0,32716.0,7496.0,7854.0,10688.0,759.0,114802.0
14110,mall_85,Poland,85,76907.0,store_1506,15550,30/08/2024,NaN,Food & Beverage Services,Gourmet Food Products,...,4227319.0,317331.0,481.0,-108393.0,21331.0,12683.0,14963.0,82052.0,3802.0,97479.0

In [14]:
dwell_traffic_data = pd.merge(dwell_time_data, referenciel_traffic_data, on=['block_id','external_mall_id'], how='inner')
# dwell_traffic_data = pd.merge(dwell_time_data, referenciel_traffic_data, on='block_id', how='left')

dwell_traffic_data

,external_mall_id,block_id,average_dwell_time,median_dwell_time,store_id
0,7,4853,515.979494,300.0,5942.0
1,32,11428,268.084507,120.0,12415.0
2,15,511,395.150730,180.0,5572.0
3,33,6872,350.860730,120.0,2141.0
4,19,7163,429.738006,180.0,663.0
...,...,...,...,...,...
3734,17,4319,1306.274378,720.0,5697.0
3735,32,11385,745.971705,360.0,12165.0
3736,33,6889,568.382117,360.0,2133.0
3737,15,408,682.577471,480.0,5573.0
3738,15,408,682.577471,480.0,5640.0

In [15]:
dwell_traffic_people_flow_data = pd.merge(dwell_traffic_data, people_flow_data, on=['block_id','external_mall_id'], how='inner')

dwell_traffic_people_flow_data

,external_mall_id,block_id,average_dwell_time,median_dwell_time,store_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,store_total_window_flow,days_with_traffic_data
0,7,4853,515.979494,300.0,5942.0,3322.13,817195.75,118.65,29185.56,26577,6537566,224
1,32,11428,268.084507,120.0,12415.0,11085.40,1662827.80,419.90,62985.90,55427,8314139,132
2,15,511,395.150730,180.0,5572.0,12364.69,636317.77,440.39,22663.37,160741,8272131,365
3,33,6872,350.860730,120.0,2141.0,2331.40,88174.90,80.12,3030.07,23314,881749,291
4,19,7163,429.738006,180.0,663.0,1244.70,296800.70,46.79,11157.92,12447,2968007,266
...,...,...,...,...,...,...,...,...,...,...,...,...
3867,33,6889,568.382117,360.0,2133.0,43311.00,376957.20,1488.35,12953.86,433110,3769572,291
3868,15,408,682.577471,480.0,5573.0,43039.70,204184.10,1588.18,7534.47,430397,2041841,271
3869,15,408,682.577471,480.0,5573.0,47864.00,170803.75,2226.23,7944.36,191456,683215,86
3870,15,408,682.577471,480.0,5640.0,43039.70,204184.10,1588.18,7534.47,430397,2041841,271
3871,15,408,682.577471,480.0,5640.0,47864.00,170803.75,2226.23,7944.36,191456,683215,86

In [ ]:
dwell_traffic_people_flow_data.to_csv('traffic_data.csv')

In [ ]:
mall_store_cost_data.to_csv('store_cost_data.csv')

In [30]:
all_data = pd.merge(dwell_traffic_people_flow_data, mall_store_cost_data, on=['store_id'], how='left')
all_data

,external_mall_id,block_id,average_dwell_time,median_dwell_time,store_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,...,store_sales_r12m,store_rent_r12m,store_area,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
0,7,4853,515.979494,300.0,5942.0,3322.13,817195.75,118.65,29185.56,26577,...,2876338.0,811637.0,351.0,-100843.0,34296.0,5829.0,3170.0,6786.0,5264.0,23059.0
1,32,11428,268.084507,120.0,12415.0,11085.40,1662827.80,419.90,62985.90,55427,...,7822735.0,941462.0,211.0,-114468.0,26307.0,12277.0,8227.0,48553.0,13302.0,8497.0
2,15,511,395.150730,180.0,5572.0,12364.69,636317.77,440.39,22663.37,160741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,33,6872,350.860730,120.0,2141.0,2331.40,88174.90,80.12,3030.07,23314,...,2701058.0,547766.0,408.0,-102830.0,50754.0,9866.0,5911.0,63510.0,8412.0,61621.0
4,19,7163,429.738006,180.0,663.0,1244.70,296800.70,46.79,11157.92,12447,...,7063834.0,219509.0,434.0,-92362.0,12061.0,1098.0,4189.0,22276.0,3068.0,79089.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3867,33,6889,568.382117,360.0,2133.0,43311.00,376957.20,1488.35,12953.86,433110,...,1974199.0,1042374.0,260.0,-73460.0,36574.0,13437.0,11099.0,74782.0,14888.0,112248.0
3868,15,408,682.577471,480.0,5573.0,43039.70,204184.10,1588.18,7534.47,430397,...,3207201.0,571084.0,310.0,-113048.0,51488.0,6778.0,3772.0,15679.0,15758.0,119426.0
3869,15,408,682.577471,480.0,5573.0,47864.00,170803.75,2226.23,7944.36,191456,...,3207201.0,571084.0,310.0,-113048.0,51488.0,6778.0,3772.0,15679.0,15758.0,119426.0
3870,15,408,682.577471,480.0,5640.0,43039.70,204184.10,1588.18,7534.47,430397,...,4394703.0,1279290.0,200.0,-13289.0,80862.0,12141.0,7806.0,54080.0,5839.0,114491.0
3871,15,408,682.577471,480.0,5640.0,47864.00,170803.75,2226.23,7944.36,191456,...,4394703.0,1279290.0,200.0,-13289.0,80862.0,12141.0,7806.0,54080.0,5839.0,114491.0

In [31]:
all_data.dtypes

external_mall_id                       int64
block_id                               int64
average_dwell_time                   float64
median_dwell_time                    float64
store_id                             float64
store_visits_monthly_average         float64
store_window_flow_monthly_average    float64
store_visits_daily_average           float64
store_window_flow_daily_average      float64
store_total_visits                     int64
store_total_window_flow                int64
days_with_traffic_data                 int64
mall_name                             object
mall_country                          object
mall_id                              float64
total_mall_area                      float64
store_name                            object
store_year_opened                     object
store_year_closed                     object
store_branch_level_1                  object
store_branch_level_2                  object
store_branch_level_3                  object
store_sales_r12m                     float64
store_rent_r12m                      float64
store_area                           float64
rent_incentive_r12m                  float64
service_charges_r12m                 float64
marketing_costs_r12m                 float64
administration_fees_r12m             float64
real_estate_taxes_r12m               float64
large_scale_works_r12m               float64
maintenance_works_r12m               float64
dtype: object

In [32]:
all_data.to_csv('data.csv')

In [33]:
all_data.describe()

,external_mall_id,block_id,average_dwell_time,median_dwell_time,store_id,store_visits_monthly_average,store_window_flow_monthly_average,store_visits_daily_average,store_window_flow_daily_average,store_total_visits,...,store_sales_r12m,store_rent_r12m,store_area,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
count,3872.000000,3872.000000,3872.000000,3872.000000,3673.000000,3872.000000,3.872000e+03,3872.000000,3872.000000,3.872000e+03,...,3.650000e+03,3.650000e+03,3650.000000,3650.000000,3650.000000,3650.00000,3650.000000,3650.000000,3650.000000,3650.000000
mean,20.698347,5564.195764,857.260047,541.007231,5883.506943,21664.694649,6.203364e+05,819.664334,23611.710235,2.181207e+05,...,5.088725e+06,7.019762e+05,257.005753,-62633.133699,49929.210137,6992.35589,8342.638630,43413.847123,8491.667945,62680.772055
std,8.042956,2935.645119,811.535308,730.059480,3913.355381,37806.253147,4.251139e+05,1405.202288,15550.385303,4.262323e+05,...,2.873320e+06,3.806776e+05,146.995628,35614.440193,28693.899957,4112.70837,4158.497367,24826.355511,4775.485012,35249.076411
min,7.000000,2.000000,113.065865,60.000000,1.000000,0.000000,1.612000e+03,0.000000,321.890000,0.000000e+00,...,1.996800e+05,4.207000e+04,0.000000,-124063.000000,589.000000,16.00000,1295.000000,1310.000000,328.000000,399.000000
25%,14.000000,4314.750000,368.996545,180.000000,1947.000000,4427.310000,3.463704e+05,173.750000,13462.860000,3.573700e+04,...,2.659530e+06,3.691412e+05,134.000000,-92990.250000,25320.000000,3321.75000,4752.250000,20904.500000,4275.500000,32698.250000
50%,19.000000,5977.500000,529.062838,240.000000,5411.000000,9710.025000,5.292314e+05,371.480000,20703.075000,8.668550e+04,...,5.047120e+06,7.041025e+05,256.000000,-62618.000000,49441.500000,7115.50000,8117.000000,43804.500000,8494.500000,62104.000000
75%,28.000000,7086.250000,984.883416,480.000000,9933.000000,22644.520000,7.798977e+05,854.810000,29337.177500,2.232030e+05,...,7.589888e+06,1.034948e+06,385.000000,-31521.500000,74807.750000,10528.75000,12000.750000,65222.250000,12736.750000,93682.000000
max,36.000000,13815.000000,7074.316406,6900.000000,12427.000000,547642.880000,6.427601e+06,20500.870000,228302.780000,7.066740e+06,...,1.010923e+07,1.352671e+06,510.000000,-1770.000000,101136.000000,14143.00000,15604.000000,85847.000000,16623.000000,123215.000000